html {
    box-sizing: border-box;
    background: beige;
    background-size: cover;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 20px;
    margin: 0;
  }
  
  .items {
    height: 800px;
    padding: 100px;
    width: 100%;
    border: 1px solid white;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    position: relative;
    background: rgba(255,255,255,0.1);
    background-position: center;
    font-size: 0;
    perspective: 500px;
  }
  
  .items.active {
    background: rgba(255,255,255,0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }
  
  .item {
    width: 320px;
    height: calc(100% - 40px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-weight: 100;
    color: rgba(0,0,0,0.15);
    box-shadow: inset 0 0 0 10px rgba(0,0,0,0.15);
  }
  
  .item:nth-child(9n+1) { background: url(https://images.unsplash.com/photo-1548681528-6a5c45b66b42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);}
  .item:nth-child(9n+2) { background: url(https://images.unsplash.com/photo-1543852786-1cf6624b9987?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);}
  .item:nth-child(9n+3) { background: url(https://images.unsplash.com/photo-1574144611937-0df059b5ef3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);}
  .item:nth-child(9n+4) { background: url(https://images.unsplash.com/photo-1495360010541-f48722b34f7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);}
  .item:nth-child(9n+5) { background: url(https://images.unsplash.com/photo-1513245543132-31f507417b26?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);}
  .item:nth-child(9n+6) { background: url(https://images.unsplash.com/photo-1533738699159-d0c68059bb61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);}
  .item:nth-child(9n+7) { background: url(https://images.unsplash.com/photo-1557948206-7478d769f813?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);}
  .item:nth-child(9n+8) { background: url(https://images.unsplash.com/photo-1587823207636-379e4295e173?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);}
  .item:nth-child(9n+9) { background: url(https://images.unsplash.com/photo-1571566882372-1598d88abd90?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);}
  
  .item:nth-child(even) { transform: scaleX(1.31) rotateY(40deg); }
  .item:nth-child(odd) { transform: scaleX(1.31) rotateY(-40deg); }